.section-title {
    grid-column: span 12;
}

.project {
    grid-column: span 4;
    grid-row: span 4;

    padding: 0; /* overriding card padding */
    transition: var(--transitions);
}

.project:hover {
    border: var(--color-tertiary-light) solid 2px;

    scale: var(--hover-scale);
}

.about-me-card {
    grid-column: span 12;
    grid-row: span 1;
}

.resume-skills {
    width: 60%;
    margin-inline: auto;
}

.resume-skills > h2 {
    margin-block-end: 2rem;
}



/*///////////////////////////////////////////////////////
Index Grid Layout Mobile
///////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) and (max-width: 1200px){

}

@media screen and (min-width: 600px) and (max-width: 899px){
    .project {
        grid-column: span 6;
        grid-row: span 2;
    }
}

@media screen and (max-width: 599px){
    .project {
        grid-column: span 6;
        grid-row: span 2;
    }

    .resume-skills {
        width: 100%;
    }
}