.project {
    margin-block-end: 5rem;
}

.project-img {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    transition: all ease-in 300ms;
    padding: 0; /* overriding card padding */
}

.project-img a{
    height: 100%;
    width: 100%;
}

.project-img:hover {
    border: var(--color-tertiary-light) solid 1px;
    scale: var(--hover-scale);
    box-shadow:var(--hard-shadow);
}

.project-description {
    grid-column: 5 / span 8;
    grid-row: 1 / span 2;

    user-select: none;
    text-decoration: none;
    text-underline: none;
}

.project-description h2 {
    text-align: start;
}

.project-skills {
    grid-column: 5 / span 8;
    grid-row: 3 / span 2;
}



/*///////////////////////////////////////////////////////
Grid Layout Mobile
///////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) and (max-width: 1200px){

}

@media screen and (min-width: 600px) and (max-width: 899px){
    .project-img {
        grid-column: 1 / span 4;
        grid-row: 1 / span 4;
    }

    .project-description {
        grid-column: 5 / span 8;
        grid-row: 1/ span 4;
        padding: 1rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 5 / span 2;
    }
}

@media screen and (max-width: 599px){

    .project-img {
        grid-column: 1 / span 12;
        grid-row: 1 / span 2;
    }

    .project-description {
        grid-column: 1 / span 12;
        grid-row: 3 / span 6;
        padding: 1rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 9;
    }

    .cover {
        height: 7.5rem;
    }
}

@media screen and (max-width: 450px){
    .project-description  h2 {
        font-size: 1rem;
    }

    .project-description  p {
        font-size: .825rem;
        line-height: 1rem;
    }
}

