.project-primary {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fill,1fr);
    grid-auto-flow: dense;

    gap: 3rem;
    padding: 2rem;
}

.project {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fill,1fr);
    grid-auto-flow: dense;

    gap: 2rem;
}

.project-img {
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;
    width: 100%;
    aspect-ratio: 1;

    position: relative;
}

.github-link{
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);

    width: 3rem;
    aspect-ratio: 1;
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link-img {
    width: 80%;
    aspect-ratio: 1;

}

.image {
    width: 100%;
    aspect-ratio: 1;
}

.project-description {
    grid-column: 7 / span 6;
    grid-row: 1 / span 16;

    padding: 2rem;
}

.project-description h2 {
    text-align: start;
    margin-block-end: 1rem;
}

.project-description p {
    line-height: 1.5rem;
    margin-block-end: 1rem;
}

.project-skills {
    grid-column: 1 / span 6;
    grid-row: 7 / span 6;
}



/*///////////////////////////////////////////////////////
Grid Layout Mobile
///////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) and (max-width: 1200px){

}

@media screen and (min-width: 600px) and (max-width: 899px){
    .project-img {
        grid-column: 1 / span 12;
        grid-row: 1 / span 12;
    }

    .project-description {
        grid-column: 1 / span 12;
        grid-row: 19 / span 16;
        padding: 1rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 13 / span 6;
    }

    .skill {
        grid-column: span 3;
        grid-row: span 3;
    }
}

@media screen and (max-width: 599px){
    .project-primary {
        display: grid;
        row-gap: 0;
        column-gap: 0;
        /*padding: 2rem;    */
    }

    .project-img {
        grid-column: 1 / span 12;
        grid-row: 1 / span 12;
    }

    .project-description {
        grid-column: 1 / span 12;
        grid-row: 19 / span 16;
        padding: .5rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 13 / span 6;
    }

    .skill {
        grid-column: span 3;
        grid-row: span 3;
    }
}

