
.project-img {
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;

    position: relative;
    padding: 0; /* overriding card padding */
}

.github-link{
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);

    width: 3rem;
    padding: .5rem;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link-img {
    width: 75%;
}

.project-description {
    grid-column: 7 / span 6;
    grid-row: 1 / span 16;
}

.project-description h2 {
    text-align: start;
    margin-block-end: 1rem;
}

.project-skills {
    grid-column: 1 / span 6;
    grid-row: 7 / span 6;
}



/*///////////////////////////////////////////////////////
Grid Layout Mobile
///////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) and (max-width: 1200px){

}

@media screen and (min-width: 600px) and (max-width: 899px){
    .project-img {
        grid-column: 1 / span 12;
        grid-row: 1 / span 12;
    }

    .project-description {
        grid-column: 1 / span 12;
        grid-row: 19 / span 16;
        padding: 1rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 13 / span 6;
    }
}

@media screen and (max-width: 599px){
    .project-img {
        grid-column: 1 / span 12;
        grid-row: 1 / span 12;
    }

    .project-description {
        grid-column: 1 / span 12;
        grid-row: 19 / span 16;
        padding: 1rem;
    }

    .project-skills {
        grid-column: 1 / span 12;
        grid-row: 13 / span 6;
    }
}

