
.resume-card {
    padding: 1rem;
}

.resume-link-card {
    padding: .25rem;
    height: 3rem;
    aspect-ratio: 1;
}

.resume-link-card:hover,
.resume-link-card:focus{
    border: solid 2px var(--color-tertiary-dark);
}

.resume-link-card a{
    width: 100%;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-link-card img{
    opacity: 50%;
    mix-blend-mode: overlay;

    width: 60%;
}

.resume-title {
    text-align: start;
    grid-column: span 12;
}

article span {
    font-size: 1.25rem;
    font-weight: bold;
}

.flex-row {
    justify-content: end;
}

/*///////////////////////////////////////////////////////
Resume Grid Layout Desktop
///////////////////////////////////////////////////////*/
.resume-primary {
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 2rem;

    margin-block-end: 3rem;
}

.resume-links {
    grid-column: 3 / span 10;
    grid-row: 1 / span 1;
    margin-block-end: 2rem;
}

.resume-experiences {
    grid-column: 1 / span 8;
    grid-row: 2 / span 32;
}

.resume-education {
    grid-column: 9 / span 4;
    grid-row: 18 / span 8;
}

.resume-skills {
    grid-column: 9 / span 4;
    grid-row: 2 / span 16;
}

/*///////////  Resume-Skills  ///////////*/
.skills {
    grid-column: span 12;
}

/*///////////  Resume-Education  ///////////*/
.resume-education-card {
    grid-column: 1 / span 12;
    grid-row: 2 / span 2;
}


/*///////////////////////////////////////////////////////
Resume Grid Layout Mobile
///////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) and (max-width: 1200px){
    .resume-education {
        grid-column: 1 / span 8;
        grid-row: 34 / span 8;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px){

}

@media screen and (max-width: 599px){

}

@media screen and (max-width: 899px){

    .resume-experiences {
        grid-column: 1 / span 12;
        grid-row: 2 / span 32;
    }

    .resume-education {
        grid-column: 1 / span 12;
        grid-row: 50 / span 8;
    }

    .resume-skills {
        grid-column: 1 / span 12;
        grid-row: 34 / span 16;
    }

}