:root {
    /* established color palette */
    --color-primary-light: #4E596F;
    --color-primary: #242A38;
    --color-primary-dark: #1b1e2a;

    --color-accent-light: #E4C19D;
    --color-accent: #C3A185;
    --color-accent-dark: #9D816B;

    --color-white: #bacacc;
    --color-neutral-1: #838f91;
    --color-neutral-2: #5e5252;
    --color-neutral-3: #4d5052;
    --color-neutral-4: #363131;
    --color-neutral-5: #1c1e1f;

    --color-accent-gradient: linear-gradient(to bottom right, var(--color-accent-light), var(--color-accent-dark));
    --color-primary-gradient: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));


    /* established font family, font weights, and font sizes */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    --ff-logo: var(--ff-primary);
    --fs-logo: var(--fs-900);
    --fw-logo: var(--fw-black);

    --fs-tagline: var(--fs-400);
    --fs-button: var(--fs-300);
    --fs-header: var(--fs-600);
    --fs-body: var(--fs-600);

    /* Established Sizes and Widths */
    --size-nav-bar-element-height: 2rem;
    --size-coffee-tile-height: 20rem;
    --size-coffee-tile-width: 12rem;

    /* Established Spacing of elements*/
    --gap: 2rem;
    --gap-nav-bar-elements: .5rem;
    --margin-nav-bar-section: 10rem;
    --margin-left-main-section: 3rem;
    --padding-input-elements: .5rem;
    --border-radius-buttons: .5rem;
    --border-radius-coffee-tiles: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}
/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}


/* body */
html {
    height:100%;
    width: 100%;
}

body.dark-mode {
    background-color: var(--color-neutral-5);
    background-image: linear-gradient(135deg, var(--color-neutral-3), var(--color-neutral-5));
    background-repeat: no-repeat;
    /*overflow-x: hidden;*/
}
body.light-mode {
    background-color: var(--color-neutral-1);
    background-image: linear-gradient(135deg, var(--color-neutral-1), var(--color-neutral-3));
    background-repeat: no-repeat;
    /*overflow-x: hidden;*/
}

h2[data-darkMode="true"] {
    color: #0a53be;
}
h2[data-darkMode="false"] {
     color: #0dcaf0;
 }


.sr-only {
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    display: none;
    visibility: hidden;

    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* primary header */
#logo {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-left: 1rem;

    font-family: var(--ff-logo);
    font-size: var(--fs-logo);
    font-weight: var(--fw-logo);
    font-style: italic;

    color: var(--color-primary);

    user-select: none;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.primary-nav {
    list-style: none;

    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1.5rem;
    padding-inline: clamp(1rem, 5vw ,10rem);

    background: hsl(0 0% 100% / .05) no-repeat;
    backdrop-filter: blur(.5rem);
}

.primary-nav a {
    text-decoration: none;
    color: var(--color-white);
}

.mobile-nav-toggle {
    display: none;
    position: fixed;
}

#dark-mode-toggle {
    padding: 0;
}


@media (max-width: 40rem){
    .primary-nav{
        position: fixed;
        z-index: 1000;

        flex-direction: column;
        --gap: 3rem;

        padding: min(30vh, 10rem) 2rem;
        inset: 0 0 0 30%;

        transform: translateX(100%);
        transition: transform 500ms ease;
    }

    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;

        z-index: 9999;
        display: block;

        width: 2rem;
        aspect-ratio: 1;

        -webkit-mask-image: url("/assets/icons/bars.svg");
        -webkit-mask-repeat: no-repeat;
        mask-image: url("/assets/icons/bars.svg");
        mask-repeat: no-repeat;

        border: none;
        background-color: var(--color-white );
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        -webkit-mask-image: url("/assets/icons/x.svg");
        mask-image: url("/assets/icons/x.svg");
    }
}

@media (min-width: 50rem){
    .primary-nav {

    }
}

@media (max-width: 28rem){
    #logo {
        font-size: clamp(2rem, 10vw, 5rem);
        top: .25rem;
        left: .25rem;
    }
}