:root {
    /* established color palette */
    --color-primary-light: #4E596F;
    --color-primary: #242A38;
    --color-primary-dark: #1b1e2a;

    --color-accent-light: #d94337;
    --color-accent: #b22c5d;
    --color-accent-dark: #452144;

    --color-tertiary-light: #ebcc50;
    --color-tertiary-dark: #e57b3a;

    --color-white: #bacacc;
    --color-neutral-1: #dadada;
    --color-neutral-2: #d7d7d7;
    --color-neutral-3: #979797;
    --color-neutral-4: #797979;
    --color-neutral-5: #34373b;

    --color-accent-gradient: linear-gradient(to bottom right, var(--color-accent-light), var(--color-accent-dark));
    --color-primary-gradient: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    --color-tertiary-gradient: linear-gradient(to bottom right, var(--color-tertiary-light), var(--color-tertiary-dark));


    /* established font family, font weights, and font sizes */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-logo: var(--ff-primary);
    --fs-logo: 3rem;
    --fw-logo: var(--fw-black);

    --fs-tagline: var(--fs-400);
    --fs-button: var(--fs-300);
    --fs-header: var(--fs-600);
    --fs-body: var(--fs-300);

    /* Established Sizes and Widths */
    --size-nav-bar-element-height: 2rem;
    --size-coffee-tile-height: 20rem;
    --size-coffee-tile-width: 12rem;

    /* Established Spacing of elements*/
    --gap: 2rem;
    --gap-nav-bar-elements: .5rem;
    --margin-nav-bar-section: 10rem;
    --margin-left-main-section: 3rem;
    --padding-input-elements: .5rem;
    --border-radius-buttons: .5rem;
    --border-radius-coffee-tiles: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}
* {
    /*border: greenyellow 1px solid;*/
}
/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}


/* body */
html {
    height: 100%;
    width: 100%;
}

body[data-darkMode="true"] {
    background-color: #172233;
}

body {
    background-color: var(--color-neutral-1);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--color-neutral-5);
}

h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    text-align: center;
}

*[data-darkMode="true"] {
    color: var(--color-white);
}


.sr-only {
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    display: none;
    visibility: hidden;

    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* primary header */
#logo {

    padding-left: 1rem;

    font-family: var(--ff-logo);
    font-size: var(--fs-logo);
    font-weight: var(--fw-logo);
    font-style: italic;

    user-select: none;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.primary-nav {
    list-style: none;

    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
    padding-inline: clamp(1rem, 5vw ,10rem);

    background: hsl(0 0% 100% / .05) no-repeat;
    backdrop-filter: blur(.5rem);
}

.primary-nav a {
    text-decoration: none;
    font-size: var(--fs-300);
    color: inherit;
}

.primary-nav li {
    display: flex;
    align-content: center;
}

.mobile-nav-toggle {
    display: none;
    position: fixed;
}

#dark-mode-toggle {
    padding: 0;
    font-size: var(--fs-300);
    color: var(--color-tertiary-dark);
}

.gooContainer {
    position: relative;
}

@media (max-width: 60rem){
    .primary-nav{
        position: fixed;
        z-index: 1000;

        flex-direction: column;
        --gap: 3rem;

        padding: min(30vh, 10rem) 2rem;
        inset: 0 0 0 30%;

        transform: translateX(100%);
        transition: transform 500ms ease;
    }

    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;

        z-index: 9999;
        display: block;

        width: 2rem;
        aspect-ratio: 1;

        -webkit-mask-image: url("/assets/icons/bars.svg");
        -webkit-mask-repeat: no-repeat;
        mask-image: url("/assets/icons/bars.svg");
        mask-repeat: no-repeat;

        border: none;
        background-color: var(--color-white );
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        -webkit-mask-image: url("/assets/icons/x.svg");
        mask-image: url("/assets/icons/x.svg");
    }
}

@media (min-width: 50rem){
    .primary-nav {

    }
}

button {
    background: none;
    border: none;
}
.hidden {
    display: none;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.contentContainer {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 1;
    place-self: center;
    text-align: center;
    padding: 1rem 2rem;
    margin-inline: 3rem;

}

.bgGoo {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: -1;
}

.gooey {
    filter: url('#blur-contrast-composite');
    height: 100%;
    width: 100%;
}

.glassOverlay {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 0;
    margin-inline: 3rem;
    background: hsla(0 0% 50% / 0.15);
    border: var(--color-neutral-3) solid 1px;
    border-radius: 20px;
    backdrop-filter: blur(.25rem);

}

#infoDisplay {
    z-index: 2;
}

.content {
}

section {
}

.tagline {
    font-size: var(--fs-600);
}