<section>
    <h1>About Me</h1>
    <p class="tagline">Software engineer, Coffee Roaster, Runner</p>
    <a href="mailto:wm.gagejackson@gmail.com" class="btn cta-btn">let's chat!</a>
</section>

<section>
    <div class="grid">
        <article class="card glass about-se">
            <h2>Software Engineer</h2>
            <br>
            <p>Welcome to my portfolio website! I'm a passionate software engineer specializing in full-stack web development. My goal is to create innovative and out-of-the-box solutions while continuously expanding my knowledge and skills.</p>
        </article>

        <article class="card glass about-cr">
            <h2>Coffee Roaster</h2>
            <br>
            <p> I'm an avid coffee enthusiast and have been honing my skills as a coffee roaster for several years. The art and science behind coffee roasting captivates me, and it's become a creative outlet where I can experiment.</p>
        </article>

        <article class="card glass about-dr">
            <h2>Distance Runner</h2>
            <br>
            <p>As a dedicated runner, I'm constantly pushing my limits and setting new goals. The discipline, endurance, and determination I've developed through running also translate into my work, where I embrace challenges with a tenacious spirit.</p>
        </article>
    </div>
</section>
