<header class="primary-header flex dark-mode" data-darkMode="true">
  <div id="logoContainer">
    <p id="logo">Gage Jackson</p>
  </div>

  <button id="btn-nav" class="mobile-nav-toggle"
          aria-controls="primary-nav" aria-expanded="false">
    <span class="sr-only" hidden="hidden">Menu</span>
  </button>

  <nav>
    <ul id="primary-nav" class="primary-nav flex" data-visible="false">
      <li class="active">
        <a href="index.html">
          Home
        </a>
      </li>
      <li>
        <a href="portfolio.html">
          Portfolio
        </a>
      </li>
      <li>
        <a href="resume.html">
          Resume
        </a>
      </li>
      <li>
        <button id="dark-mode-toggle" class="dark-mode" data-darkMode="true">
          Dark Mode
        </button>
      </li>
    </ul>
  </nav>
</header>