  <button id="logoContainer" class="dark-mode cursor" data-darkMode="true">
    <p id="logo">Gage Jackson</p>
  </button>

  <button id="btn-nav" class="mobile-nav-toggle"
          aria-controls="primary-nav" aria-expanded="false">
    <span class="sr-only" hidden="hidden">Menu</span>
  </button>

  <nav>
    <ul id="primary-nav" class="primary-nav flex-row" data-visible="false">
      <li class="active">
        <button id="home-btn" class="dark-mode cursor" data-darkMode="true">
          Home
        </button>
      </li>
      <li>
        <button id="about-btn" class="dark-mode cursor" data-darkMode="true">
          About
        </button>
      </li>
      <li>
        <button id="portfolio-btn" class="dark-mode cursor" data-darkMode="true">
          Portfolio
        </button>
      </li>
      <li>
        <button id="resume-btn" class="dark-mode cursor" data-darkMode="true">
          Resume
        </button>
      </li>
      <li>
        <button id="dark-mode-toggle" class="dark-mode cursor" data-darkMode="true">
          Dark Mode
        </button>
      </li>
    </ul>
  </nav>