<section>
    <h1>My Portfolio Projects</h1>
    <p class="tagline">Projects and experiences that I am currently proud of</p>
    <a href="mailto:wm.gagejackson@gmail.com" class="btn cta-btn">ask me questions</a>
</section>

<section>
    <article class="project grid">
        <button id="honeydo-btn">
            <div class="project-img card glass">
                <img src="assets/imgs/honeydo-01.png" class="glass-image cover">
            </div>

            <div class="project-description card glass" data-darkMode="true">
                <h2 class="">Honeydo Helper</h2>
                <p>Collaborated with a team to design, build, and deploy a mobile-responsive full-stack web application. Served as the project lead, I coordinated development efforts, designed the application structure, and actively contributed to troubleshooting and debugging. </p>
            </div>
        </button>

        <div class="project-skills">
            <div class="skills">
                <div class="skill square card glass">
                    <p>HTML</p>
                </div>
                <div class="skill square card glass">
                    <p>CSS</p>
                </div>
                <div class="skill square card glass">
                    <p>Bootstrap</p>
                </div>
                <div class="skill square card glass">
                    <p>Java</p>
                </div>
                <div class="skill square card glass">
                    <p>JavaScript</p>
                </div>
                <div class="skill square card glass">
                    <p>Spring Boot</p>
                </div>
                <div class="skill square card glass">
                    <p>Spring Boot Security</p>
                </div>
                <div class="skill square card glass">
                    <p>Thymeleaf</p>
                </div>
                <div class="skill square card glass">
                    <p>AWS</p>
                </div>
                <div class="skill square card glass">
                    <p>Docker</p>
                </div>
                <div class="skill square card glass">
                    <p>Filestack API</p>
                </div>
            </div>
        </div>
    </article>

    <article class="project grid">
        <button id="doglister-btn">
            <div class="project-img card glass">
                <img src="assets/imgs/doglister-01.png" class="glass-image cover">
            </div>

            <div class="project-description card glass" data-darkMode="true">
                <h2 class="">Doglister</h2>
                <p>Developed a simplified version of Craigslist for finding dogs. My responsibilities included designing and managing the database, implementing robust searching and sorting functionality, and ensuring an accurate display of dog information.</p>
            </div>
        </button>

        <div class="project-skills">
            <div class="skills">
                <div class="skill square card glass">
                    <p>HTML</p>
                </div>
                <div class="skill square card glass">
                    <p>CSS</p>
                </div>
                <div class="skill square card glass">
                    <p>Bootstrap</p>
                </div>
                <div class="skill square card glass">
                    <p>MySQL</p>
                </div>
                <div class="skill square card glass">
                    <p>JavaScript</p>
                </div>
                <div class="skill square card glass">
                    <p>jQuery</p>
                </div>
                <div class="skill square card glass">
                    <p>Spring Boot</p>
                </div>
                <div class="skill square card glass">
                    <p>Java</p>
                </div>
            </div>
        </div>
    </article>

    <article class="project grid">
        <button id="weather-btn">
            <div class="project-img card glass">
                <img src="assets/imgs/weatherapp-01.png" class="glass-image cover">
            </div>

            <div class="project-description card glass" data-darkMode="true">
                <h2 class="">Drop Drip</h2>
                <p>I developed a robust weather application with a clean and intuitive interface, leveraging the OpenWeatherMap API and the Mapbox API to provide accurate forecasts worldwide. The application featured interactive maps, comprehensive weather metrics, and demonstrated my meticulous planning, agile development, and full ownership of the project.</p>
            </div>
        </button>

        <div class="project-skills">
            <div class="skills">
                <div class="skill square card glass">
                    <p>HTML</p>
                </div>
                <div class="skill square card glass">
                    <p>CSS</p>
                </div>
                <div class="skill square card glass">
                    <p>Bootstrap</p>
                </div>
                <div class="skill square card glass">
                    <p>AJAX</p>
                </div>
                <div class="skill square card glass">
                    <p>JavaScript</p>
                </div>
                <div class="skill square card glass">
                    <p>jQuery</p>
                </div>
                <div class="skill square card glass">
                    <p>Open Weather Map API</p>
                </div>
                <div class="skill square card glass">
                    <p>Mapbox API</p>
                </div>
            </div>
        </div>
    </article>
</section>