<section>
    <h1>Resume</h1>
    <p class="tagline">Experiences and skills I've picked up along the way</p>
    <a href="mailto:wm.gagejackson@gmail.com" class="btn cta-btn">let's chat!</a>
</section>

<section class="resume-primary grid">
    <div class="resume-links">
        <div class="flex-row">
            <div class="resume-link-card card glass">
                <a href="mailto:wm.gagejackson@gmail.com"><img src="assets/icons/email.png"></a>
            </div>

            <div class="resume-link-card card glass">
                <a href="https://github.com/GageJackson" target="_blank"><img src="assets/icons/github-sign.png"></a>
            </div>

            <div class="resume-link-card card glass">
                <a href="https://www.linkedin.com/in/wm-gage-jackson/" target="_blank"><img src="assets/icons/linkedin-sign.png"></a>
            </div>

            <div class="resume-link-card card glass">
                <a href="https://docs.google.com/document/d/1XkOJDr4vBxvs9KkW1X3jMI8Sq5TCZWYqNgszzQPWbKA/edit?usp=sharing" target="_blank"><img src="assets/icons/download-symbol.png"></a>
            </div>
        </div>
    </div>

    <div class="resume-experiences">
        <div class="flex-col">
            <h2 class="resume-title">Experiences</h2>

            <article class="card glass">
                <p><span>Army National Guard </span> - Indianapolis, IN</p>
                <p>Sergeant / Dec 2009 - Dec 2017</p>

                <p>Provided strategic guidance and leadership to a team of 15 members, resulting in the successful achievement of operational goals and objectives.</p>
                <p>Mentored and motivated team members during personnel training, resulting in a 20% increase in job proficiency and readiness levels.</p>
                <p>Conducted regular assessments of team knowledge and skill gaps, and developed tailored training plans to address identified areas for growth and development.</p>
            </article>

            <article class="card glass">
                <p><span>Prime Communications </span> - Jacksonville, TX</p>
                <p>Retail Sales Consultant  / Nov 2020 - Jan 2023</p>

                <p>Trained an average of 30 clients per week on new devices and services, showcasing strong communication skills and adaptability to changing technology.</p>
                <p>Increased customer satisfaction by 12% through effective problem-solving and custom solutions for clients.</p>
                <p>Successfully diagnosed and troubleshooted uncommon electronic issues with a 95% accuracy rate, demonstrating strong analytical skills and attention to detail.</p>
            </article>

            <article class="card glass">
                <p><span>Blue Owl Coffee </span> - Lansing, MI</p>
                <p>Roasting Manager / Apr 2017 – Aug 2020</p>

                <p>Spearheaded the creation and leadership of the Roasting Lab division, collaborating with cross-functional teams to establish and refine processes for optimal operations.</p>
                <p>Led and motivated a team of 4 employees, fostering a culture of productivity, teamwork, and continuous development through effective training and mentorship.</p>
                <p>Implemented an innovative hiring and scheduling system, streamlining staffing and deployment, resulting in a notable 20% reduction in labor costs.</p>
            </article>

            <article class="card glass">
                <p><span>Starbucks </span> - Lansing, MI</p>
                <p>Shift Supervisor / Jul 2012- Apr 2017</p>

                <p>Cultivated a positive team environment that contributed to a 20% increase in operational efficiency and elevated customer satisfaction ratings.</p>
                <p>Trained and mentored an average of 6 new employees per month to meet Starbucks standards, fostering skill development and employee retention.</p>
                <p>Utilized service recovery techniques to resolve customer issues, resulting in a 15% improvement in customer satisfaction scores.</p>
            </article>
        </div>
    </div>

    <div class="resume-education">
        <div class="grid">
            <h2 class="resume-title">Education</h2>

            <article class="resume-education-card card glass">
                <p><span>Codeup </span> - Houston, TX</p>
                <p>Web Developer / Jan 2023 - Jun 2023</p>

                <p>This 5-month coding boot camp teaches full-stack software development through 670 contact hours of hands-on technical training (20% more time than 4-year degree majors require). </p>
            </article>
        </div>
    </div>

    <div class="resume-skills">
        <div class="grid">
            <h2 class="resume-title">Skills</h2>
            <div class="skills">
                <div class="skill square card glass">
                    <p>Java</p>
                </div>
                <div class="skill square card glass">
                    <p>Javascript</p>
                </div>
                <div class=" skill square card glass">
                    <p>HTML</p>
                </div>
                <div class=" skill square card glass">
                    <p>CSS</p>
                </div>
                <div class=" skill square card glass">
                    <p>MySQL</p>
                </div>
                <div class=" skill square card glass">
                    <p>Spring Boot</p>
                </div>
                <div class=" skill square card glass">
                    <p>Thymeleaf</p>
                </div>
                <div class=" skill square card glass">
                    <p>Git</p>
                </div>
                <div class=" skill square card glass">
                    <p>Adobe Illustrator</p>
                </div>
                <div class=" skill square card glass">
                    <p>Java</p>
                </div>
                <div class=" skill square card glass">
                    <p>jQuery</p>
                </div>
                <div class=" skill square card glass">
                    <p>Bootstrap</p>
                </div>
            </div>
        </div>
    </div>
</section>