<section>
  <h1>Drop Drip</h1>
  <p class="tagline">Solo project creating a weather application</p>
  <a href="mailto:wm.gagejackson@gmail.com" class="btn cta-btn">ask me questions</a>
</section>

<section class="grid">
  <div class="project-img square card glass">
    <a type="button" href="https://github.com/GageJackson/weatherMap"class="github-link square card cta-btn">
      <img src="assets/icons/github-sign.png" class="github-link-img square">
    </a>
    <img src="assets/imgs/weatherapp-01.png" class="cover">
  </div>

  <div class="project-description card glass">
    <h2 class="">Drip Drop Weather App</h2>
    <p> I undertook the Weather Map project as a solo endeavor, showcasing my ability to independently conceptualize, develop, and deploy a robust weather application.</p>
    <p>With a focus on delivering a seamless user experience, I designed and implemented a clean and intuitive interface that allowed users to effortlessly access accurate weather forecasts for locations around the world.</p>
    <p>To gather the latest weather data, I leveraged the OpenWeatherMap API and the Mapbox API, integrating them seamlessly into the application. This enabled me to provide comprehensive hourly and daily forecasts for various weather metrics, including temperature, precipitation, wind speed, and humidity.</p>
    <p>I took pride in creating an interactive map feature within the application, empowering users to search for their address or conveniently drag and drop a pin to their desired location. This functionality showcased my attention to detail and commitment to delivering a user-centric experience.</p>
    <p>Throughout the project, I demonstrated my ability to plan, develop, and test the application meticulously. I employed agile methodologies to adapt to changing requirements and maintain focus on delivering a high-quality product.</p>
    <p>By completing the Weather Map project independently, I showcased my ability to take full ownership of a project, from ideation to deployment. This experience further honed my technical skills in API integration, data handling, and user interface design.</p>
  </div>

  <div class="project-skills">
    <div class="skills">
      <div class="skill square card glass">
        <p>HTML</p>
      </div>
      <div class="skill square card glass">
        <p>CSS</p>
      </div>
      <div class="skill square card glass">
        <p>Bootstrap</p>
      </div>
      <div class="skill square card glass">
        <p>AJAX</p>
      </div>
      <div class="skill square card glass">
        <p>JavaScript</p>
      </div>
      <div class="skill square card glass">
        <p>jQuery</p>
      </div>
      <div class="skill square card glass">
        <p>Open Weather Map API</p>
      </div>
      <div class="skill square card glass">
        <p>Mapbox API</p>
      </div>
    </div>
  </div>
</section>